@import '../../../../styles/_variables.scss';

.container{
    padding: 6rem 1rem 0 3rem;

    .containerPrimary{
        max-width: 65%;
    
            h1{
                color: $color-blue;
                font-weight: 800;
                font-size: $fontsize-post-title-large;
                padding-top: 0.8rem;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
        .linha{
            margin-top: 8px;
            margin-bottom: 8px;
            border-top: 0.01rem solid $color-border-grey;
        }

        .iconesRedesSociais{
            display: flex;
            gap: 10px;
            justify-content: right;
            .facebook{
                font-size: 30px;
                color: $color-facebook;
            }
            .twitter{
                font-size: 30px;
                color: $color-twitter;
            }
            .whatsapp{
                font-size: 30px;
                color: $color-whatsapp;
            }

            .telegram{
                font-size: 20px;
                color: $color-telegram;
                padding: 10px;  
            }
        }
    }
    .containerContent{
        max-width: 65%;
        .content{
            
            p{
                color: $color-body-text;
                margin-bottom: 25px;
                line-height: 1.75rem;
            }
            strong{
                color: $color-body-text;
                margin-bottom: 25px;
                line-height: 1.75rem;
            }
            a{  
                color: $color-hiperlink;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            ul{
                li{
                    color: $color-body-text;
                    list-style-type: inherit;
                }
            }
            ol{    
                li{
                    color: $color-body-text;
                    list-style-type: inherit;
                }
            }
            h1{
                margin-bottom: 25px;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h2{
                margin-bottom: 25px;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h3{
                margin-bottom: 25px;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h4{
                margin-bottom: 25px;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h5{
                margin-bottom: 25px;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h6{
                margin-bottom: 25px;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            img{
                
                width: 100%;
                height: 28rem;
                border-radius: 5px;
            }
            iframe{
                width: 100%;
                height: 28rem;
                border-radius: 5px;
                
            }
        }

    }
}