@import '../../../../styles/_variables.scss';

.container{
    padding: 6rem 1rem 0 3rem;
    
    .containerPrimary{
        max-width: 65%;
    
            h1{
                color: $color-blue;
                font-weight: 800;
                font-size: $fontsize-post-title-large;
                padding-top: 0.8rem;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
        .linha{
            margin-top: 8px;
            margin-bottom: 8px;
            border-top: 0.01rem solid $color-border-grey;
        }

        .shareSociais{
            display: flex;
            gap: 10px;
            justify-content: right;
            .facebook{
                font-size: 30px;
                color: $color-facebook;
                &:hover{
                    color: $color-share-hover;
                }
            }
            .twitter{
                font-size: 30px;
                color: $color-twitter;
                &:hover{
                    color: $color-share-hover;
                }
            }
            .whatsapp{
                font-size: 30px;
                color: $color-whatsapp;
                &:hover{
                    color: $color-share-hover;
                }
            }
            .email{
                font-size: 30px;
                color: $color-email;
                &:hover{
                    color: $color-share-hover;
                }
            }

        }
    }
    .containerContent{
        max-width: 65%;
        .content{
            
            p{
                color: $color-body-text;
                margin-bottom: $margin-bottom-content;
                line-height: 1.75rem;
            }
           
            strong{
                color: $color-body-text;
                margin-bottom: $margin-bottom-content;
                line-height: 1.75rem;
            }
            a{  
                color: $color-hiperlink;
                cursor: pointer;
                strong{
                    color: $color-hiperlink;
                    margin-bottom: $margin-bottom-content;
                    line-height: 1.75rem;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            ul{
               
                li{
                    color: $color-body-text;
                    list-style-type: inherit;
                    margin-bottom: $margin-bottom-content;
                    
                }
            }
            ol{   
               
                li{
                    color: $color-body-text;
                    list-style-type: inherit;
                    margin-bottom: $margin-bottom-content;
                }
            }
            h1{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h2{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h3{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h4{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h5{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h6{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            img{
                
                width: 100%;
                height: $height-img-iframe;
                border-radius: 5px;
            }
            iframe{
                width: 100%;
                height: $height-img-iframe;
                border-radius: 5px;
                
            }
        }

    }
}