@import '../../../../styles/_variables.scss';

.container{
    padding-top: 6rem;
    
    .containerPrimary{
        max-width: 97%;
        h1{
            color: $color-blue;
            font-weight: 800;
            font-size: $fontsize-post-title-large;
            padding-top: 0.8rem;
            &:first-letter {
                text-transform: uppercase;
            }
        }
        .linha{
            margin-top: 8px;
            margin-bottom: 8px;
            border-top: 0.01rem solid $color-border-grey;
        }
    }
    .containerContent{
       // max-width: 97%;
        .content{
            p{
                color: $color-body-text;
                margin-bottom: $margin-bottom-content;
                line-height: 1.75rem;
            }
           
            strong{
                color: $color-body-text;
                margin-bottom: $margin-bottom-content;
                line-height: 1.75rem;
            }
            a{  
                color: $color-hiperlink;
                cursor: pointer;
                strong{
                    color: $color-hiperlink;
                    margin-bottom: $margin-bottom-content;
                    line-height: 1.75rem;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            ul{
               
                li{
                    color: $color-body-text;
                    list-style-type: inherit;
                    margin-bottom: $margin-bottom-content;
                    
                }
            }
            ol{   
               
                li{
                    color: $color-body-text;
                    list-style-type: inherit;
                    margin-bottom: $margin-bottom-content;
                }
            }
            h1{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h2{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h3{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h4{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h5{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            h6{
                margin-bottom: $margin-bottom-content;
                color: $color-body-text;
                line-height: 1.75rem;
            }
            img{
                width: 100%;
                height: $height-img-iframe;
                border-radius: 5px;
                //max-width: $image-max-width;
                @media(max-width: 640px){
                    height: $height-img-iframe-mobile !important;
                }
            }
            iframe{
                width: 100%;
                height: $height-img-iframe;
                border-radius: 5px;  
                @media(max-width: 640px){
                    height: $height-img-iframe-mobile !important;
                }
            }
        }

    }
}

.centralizer{
    margin: 0 auto;
    max-width: $maxWidth;
    width: 100%;
    @media(max-width: 1024px){
      padding-left: 10px;
      padding-right: 10px;
    }
    @media(min-width: 1025px) and (max-width: 1405px){
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }