//#######************** VARIAVEIS *****************#########


//tamanhos post
$fontsize-post-title-regular: 1.375rem;
$fontsize-post-title-excerpt: 1rem;
$fontsize-post-title-small: 1.175em;
$fontsize-post-title-large: 1.875rem;
$fontsize-post-title-gigant: 2.25rem;
$padding-top-post: 20px;


//cores
$background: #F8F8FF;
$primary-color: #012256;
$secundary-color: #27476e;
$color-blue: #1e5089;
$hover-blue: #2568ef;
$border-color-gray: #e0dede;
$background-tag: #ffffff;
$color-body-text: #333333;
$color-gray:#9F9F9F;
$black: #000;
$white: white;
$tranparent: transparent;


//telas
$screen-tv: 1600px; //monitor
$screen-desktop: 1088px; //notebook
$screen-tablet: 960px; //tablet
$screen-mobile: 492px; //mobile
