@import '../../../../styles/_variables.scss';

.containerTags{
    padding-top: 1.5rem;

    .buttonTags{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 1.7rem;
        width: 8rem;
        background: $background-tag;
        border-radius: 3rem;
        border: 1px solid $border-color-gray;
        div{
            background: $hover-blue;
            border-radius: 50%;
            height: 18px;
            width: 18px;
            
        }
        p{
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            color: $color-body-text;
            font-weight: 100;
            &:hover{
                color: $hover-blue;
            }
        }
    }
}