@import '../../styles/_variables.scss';

.headerContainer {
    height: 6.5rem;
    width: 100%;
    position: fixed;
    background-color: $primary-color;
    transition: 2s;
    display: flex;
    z-index: 10000;
    
}
.activeColor{
    background-color: $secundary-color;
    height: 5rem;
    width: 100%;
    position: fixed;
    transition: 2s;
    display: flex;

}
.containerImg{
    display: flex;
    align-items: center;
    //padding-left: 2rem;
    cursor: pointer;
}


.centralizer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
    @media(max-width: 1024px){
      padding-left: 10px;
      padding-right: 10px;
    }
    @media(min-width: 1025px) and (max-width: 1405px){
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

//########################## ********************RESPONSIVE DESKTOP*********************** ##########################################
@media(max-width:$screen-desktop){
    
}



//########################## ********************RESPONSIVE TABLET*********************** ##########################################
@media(max-width:$screen-tablet){
    
}


//########################## ********************RESPONSIVE MOBILE*********************** ##########################################
@media(max-width:$screen-mobile){

}
